In [1]:
import pandas as pd

In [24]:
data = pd.read_csv('test_data\\games.csv', header=0)

In [30]:
columns = [col for col in data.columns if col != 'Unnamed: 0']

In [35]:
data = data[columns]
data.head()

,away,blocked,faceOffWinPercentage,game_id,giveaways,goals,hits,id,pim,powerPlayGoals,...,1_period_home_shots,1_period_away_shots,2_period_home_goals,2_period_away_goals,2_period_home_shots,2_period_away_shots,3_period_home_goals,3_period_away_goals,3_period_home_shots,3_period_away_shots
0,True,0,0.0,2018010109,0,3,0,1,0,0.0,...,0,0,1,1,0,0,1,0,0,0
1,False,0,0.0,2018010109,0,2,0,5814,0,0.0,...,0,0,1,1,0,0,1,0,0,0
2,True,0,0.0,2018010110,0,4,0,22,0,0.0,...,0,0,1,1,0,0,2,1,0,0
3,False,0,0.0,2018010110,0,3,0,7202,0,0.0,...,0,0,1,1,0,0,2,1,0,0
4,True,16,41.3,2018020001,10,2,34,8,6,1.0,...,9,9,1,1,9,12,0,0,7,15

In [34]:
features = data[['id']].drop_duplicates()

In [39]:
features['avg_home_goals'] = data[~data.away].groupby('id')['goals'].mean()
features['avg_away_goals'] = data[data.away].groupby('id')['goals'].mean()
features.head(10)

     id  avg_home_goals  avg_away_goals
0     1             NaN             NaN
1  5814        3.384615        2.666667
2    22        3.076923        2.714286
3  7202        3.000000        2.384615
4     8        2.785714        3.250000
5    10        3.466667        3.583333
6     6        3.500000        1.875000
7    15        3.153846        2.812500
8    20        3.250000        3.000000
9    23        3.875000        3.076923

In [ ]:
df['hdsbfhsd'] = [.....]